<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.micaros.bm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name=".admin.Admin_update_reader"
            android:exported="false" />

        <activity
            android:name=".admin.Admin_delete_reader"
            android:exported="false" />

        <activity
            android:name=".admin.Admin_editer_reader"
            android:exported="false" />

        <activity
            android:name=".admin.Admin_search_bookinfo"
            android:exported="false" />

        <activity
            android:name=".admin.Admin_add_reader"
            android:exported="false" />

        <activity
            android:name=".admin.Select_reader_admin"
            android:exported="false" />

        <activity
            android:name=".admin.Admin_search_book"
            android:exported="false" />

        <activity
            android:name=".admin.Admin_add_book"
            android:exported="false" />

        <activity
            android:name=".admin.Admin_pay_info"
            android:exported="false" />

        <activity
            android:name=".admin.admin_borrow_info"
            android:exported="false" />

        <activity
            android:name=".admin.admin_select_bookinfo"
            android:exported="false" />

        <activity
            android:name=".admin.Admin_manager_reader"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_manager_book"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_select_message"
            android:exported="false" />
        <activity
            android:name=".admin.admin_content_activity"
            android:exported="false" />
        <activity
            android:name=".BookInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ReaderInfo"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ContentActivity"
            android:exported="false" />
        <activity
            android:name=".BorrowInfoActivity"
            android:exported="false" />
        <activity
            android:name=".CollectActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>